.title1{
  text-align: center;
}
.title2{
  text-align: center;
}

img{
  width: 50px;
  height:50px;
  //  margin-top: 70px;
  margin-left: 105px;
}
ion-button{
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 20px;
  color: #FBEAEB;
  background-color: #1c2a2e;

}
img{
  width: 200px;
  height:200px;
  margin-top: 70px;
  margin-left: auto;  
  margin-right: auto;
  display: block;
}
ion-input{
  margin-top: 15px;
}
h5{
  text-align: center;
}
a{
  font-size: 13px;
  color: #2F3C7E;
  margin-top: 30px;
  padding-left: 13px;
  text-decoration: none;

}
.mainTitle{
  margin-left: 27%;
  color: #FBEAEB;
}
.div1{
  background: white;
}
.div2{
  background: whitesmoke;
}
.col{
  background: gray;
  border: thick solid black;
}
ion-content{
  background: whitesmoke;
}
ion-menu-button{
  color: #FBEAEB;
}
ion-icon{
  margin-bottom: 20px;
  width: 50px;
  height: 50px;
  margin-top: 15px;
}
#icon{
  margin-left: 130px;
  margin-top: 15px;
}
