ion-card{
  text-align: center;
}
ion-button{
  width: 100px;
  height: 50px;
  margin-left: 35%;
  margin-top: 20px;
  background: #2F3C7E;
  color: white;
}
img{
  width: 75px;
  height: 75px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h3{
  text-align: center;
}
ion-icon{
  width: 50px;
  height: 50px;
  margin-top: 120px;
  color: #2F3C7E;
  margin-left: 12px;
}
#icon{
  margin-left: 150px;
  margin-top: 15px;
  color: #2F3C7E;
}
.mainTitle{
  color: #FBEAEB;
}
.menu-button{
  color: #FBEAEB;
}


