.title1{
  margin-top: 15px;
  text-align: center;
}
.title2{
  text-align: center;
  margin-top: -10px;
}
span{
  color: red;
  text-align: center;
}


ion-button{
  margin-top: 10px;
}
img{
  width: 200px;
  height:200px;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
ion-input{
  margin-top: 10px;
  border-radius: 20px;
  color: black;
}
.b1{
  margin-top: 15px;
  border-radius: 20px;
  color: #FBEAEB;
  background: #BA7B48;
  width: 100%;
  height: 33px;
 
}
.b2{
  margin-top: 15px;
  border-radius: 20px;
  color: #FBEAEB;
  background-color: #2F3C7E;
}


ion-list{
  border-radius: 20px;
}





#ion-item{
  border-radius: 20px;
}


msg{
  color: red;
  
}

input{
  color: red;
}