.ion-icon{
  width: 40px;
  height: 40px;
  margin-top: 20px;
  color: #2F3C7E;

}
#icon{
  //margin-left: 180px;
  margin-top: 15px;
  color: #2F3C7E;
  width: 40px;
  height: 40px;
  text-align: center;
}
img{
  margin-left: 120px;
  margin-top: 20px;
  margin-bottom: 15px;
}
.clip{
  width: 50px;
  height: 50px;
  margin-left: 45%;
  margin-top: 20px;
}
.mainTitle{
  color: #FBEAEB;
 

}
.menu-button{
  color: #FBEAEB;
}

img{
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
