.b2{
  margin-top: 22px;
  border-radius: 20px;
  color: #FBEAEB;
  background-color: #BA7B48;
  height: 40px;
}
.ion-icon{
  width: 40px;
  height: 40px;
  margin-top: 20px;
  color: #BA7B48;
  margin-left: 12px;
}
#icon{
  margin-left: 160px;
  margin-top: 15px;
  color: #BA7B48;
  width: 40px;
  height: 40px;
}
.mainTitle{
  color: #FBEAEB;
}
.menu-button{
  color: #FBEAEB;
}

