
<ion-header>
  <ion-toolbar color="primary" text-center>
    <ion-buttons slot="start">
      <ion-menu-button class="menu-button"></ion-menu-button>
    </ion-buttons>
    <ion-title class="mainTitle">Home</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <a href="/inventory1"> <ion-icon name="calculator" style="width: 150px;height:150px;float: left;padding: 10px;color:#BA7B48;margin-top: 10px;"></ion-icon></a>
    <a href="/sales"> <ion-icon name="pie"  style="width: 150px;height:150px;float: left;padding: 10px;color:#BA7B48;margin-top: 10px;"></ion-icon></a>
      <a href="/manage-salesman"> <ion-icon name="person-add" style="width: 150px;height:150px;float: left;padding-left: 10px;color:#BA7B48;margin-top: 10px;"></ion-icon></a>
      <a href="/complaints"> <ion-icon name="clipboard"  style="width: 150px;height:150px;float: left;padding: 10px;color:#BA7B48;margin-top: 10px;"></ion-icon></a>
</ion-content>